.contenTask {
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
}
.headerTask {
  height: 40px;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  border-radius: 5px;
  padding: 4px;
}
.titleTask {
  color: #00c8ff;
  font-size: xx-large;
  font-weight: 900;
}
.addTask {
  text-align: end;
  margin-top: 10px;
}

.buttonAdd {
  border: none;
  background-color: #00ffa9;
  border-radius: 10px;
  color: white;
  font-weight: 900;
  padding: 7px;
}
.tableConten {
  max-height: 100vh;
  overflow-y: scroll;
  background-color: #fff0 !important;
}
