<div class="bg-plum-plate container-log">
  <div class="shadow content">
    <div class="h5 text-start">
      <h4 class="mt-2">
        <div class="title-fir">Forgot your Password?</div>
        <span class="title-sec">Use the form below to recover it.</span>
      </h4>
    </div>
    <div class="divider"></div>

    <div class="mb-3 mt-4">
      <div>
        <label for="email" style="color: gray">Email:</label>
        <input
          id="email"
          type="email"
          placeholder="Enter email..."
          required="required"
          class="form-control"
        />
      </div>
    </div>
    <h6 class="mb-0 no-count mt-3" style="font-size: 15px">
      <a routerLink="/UserPages" class="text-primary"
        >Sign in existing account</a
      >
    </h6>
    <div class="divider mb-3 mt-3"></div>

    <div class="modal-footer">
      <div class="float-end">
        <button type="button" class="btn btn-primary btn">
          Recover Password
        </button>
      </div>
    </div>
    <div
      class="text-center text-white opacity-8 mt-5 copyright"
      style="position: absolute"
    ></div>
  </div>
</div>
